@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>It's the national digital signature for a paper-free smart country! Now all the service center paperwork can be processed from you home.</p>
    </div>
</body>
</html>